<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
</head>
<body>
    <%- include('partials/navbar', {title: "Usuários"});%>
    
    <% for (let user of users) {%>
        <% if (user.id % 2 == 0) {%>
            <h1>Nome: <%=user.name%></h1>
            <h3>Telefone: <%=user.phone%></h3>
        <%}%>  
    <%}%>
</body>
</html>