body{
    background-color: red;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    background-color: blue;
}

.primeira{
    display: inline-block;
    margin-right: -4px;
    margin-bottom: -4px;
    width: calc(100% - 300px) ;
    height: 300px;
    background-color: yellow;
}

.segunda{
    display: inline-block;
    margin-right: -4px;
    margin-bottom: -4px;
    width: 300px;
    height: 300px;
    background-color: green;
}


/*

.primeira{
    margin: auto;
    height: 100px;    
    background-color: blue;
    width: calc(100% - 200px);
}

*/
