/*Dentro do grid tudo são linhas e colunas*/

.container{
    height: 500px;
    border-radius: 5px;
    color: white;
    display: grid;
    padding: 10px;
    background-color:gray;
   /* grid-template-rows: 200px 100px;
      grid-template-columns: 1fr 2fr 1fr;
    */
    grid-template: auto auto /auto auto auto;
    
    grid-gap: 10px;
    
    justify-items:center;
    align-items:center;

    justify-content:space-evenly;
    align-content: space-between;
}

.r1{
    background-color: red;
}
.r2{
    background-color: blue;
}
.r3{
    background-color: green;
}
.rect{
    border-radius: 50%;
    width: 100px;
    height: 100px;

}