@keyframes changeColor {

    0% {background-color: red; width: 200px;}
    25% {background-color: green;}
    50% {background-color: yellow; width: 400px;}
    100% {background-color: blue; width: 200px;}    

}

.box{
    width: 200px;
    height: 200px;
    border-style: solid;
    animation-name: changeColor;
    animation-duration: 6s;  
    animation-delay: -1s;  
}

