<style>
    nav {
        padding: 20px;
        background-color: darkcyan;
        color: aliceblue;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a {
        color: aliceblue;
        text-decoration: none;
        padding: 10px;
        border-radius: 10px;
        background-color: darkgoldenrod;
    }
</style>

<nav>
    <h1>Logo</h1>
    <div>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </div>
</nav>