/*display flex aplicado no elemento pai altera o comportamento dos elementos filhos; */
body{
    margin: 0;
}
.container{
    background-color: darkgrey;
    height: 400px;
    color: white;
    display: flex;
    flex-flow: column wrap-reverse;
     
}

/*WRAP é usado pra preservar o tamanho do elemento, quando não usado os elemento filhos são ajustados para caberem dentro do elemento pai*/
/*as propriedade flex-direction e flex-wrap podem ser definidas em uma so linha usando a propriedade flex-flow */
.r1{
    background-color: red;
    
}

.r2{
    background-color: blue;
}

.r3{
    background-color: green;
}

.rect{
 width: 200PX;
 height: 200px;
}